@import "tailwindcss";

@layer base {
    @font-face {
        font-family: "Bitcount";
        src: url("/assets/fonts/BitcountGridSingle-Regular.ttf");
    }

     @font-face {
        font-family: "Dansans";
        src: url("/assets/fonts/DMSans-Regular.ttf");
    }
}
  

/* @custom-variant dark (&:is(.dark *)); */

:root {
    background-color: #fcfcfc;
    
}


@theme {
    --color-primary: #f5f5f5;
    --color-accent: #eb6f27;
    --font-dansans: "Dansans"
}